<a href="https://colab.research.google.com/github/giladgavlovski/beyondthehype/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
sklearn.__version__

'0.22.2.post1'

In [0]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', nrows=10)

In [33]:
df

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [34]:
X = df[['Parch', 'Survived']] # two brackets creates a data frame
X

   Parch  Survived
0      0         0
1      0         1
2      0         1
3      0         1
4      0         0
5      0         0
6      0         0
7      1         0
8      2         1
9      0         1

In [35]:
X.shape #in caps because it's 2 dimensions

(10, 2)

In [36]:
y = df['Survived'] #single bracket creates a series
y

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [37]:
y.shape

(10,)

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
logreg = LogisticRegression(solver = 'liblinear', random_state = 1)

In [40]:
from sklearn.model_selection import cross_val_score
cross_val_score(logreg, X, y, cv=3, scoring='accuracy').mean()

1.0

In [41]:
logreg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
df_new = pd.read_csv('http://bit.ly/kaggletest', nrows=10)
df_new

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S
5          897       3  ...   NaN        S
6          898       3  ...   NaN        Q
7          899       2  ...   NaN        S
8          900       3  ...   NaN        C
9          901       3  ...   NaN        S

[10 rows x 11 columns]

In [43]:
X_new = df_new[['Parch', 'Fare']]
X_new

   Parch     Fare
0      0   7.8292
1      0   7.0000
2      0   9.6875
3      0   8.6625
4      1  12.2875
5      0   9.2250
6      0   7.6292
7      1  29.0000
8      0   7.2292
9      0  24.1500

In [44]:
logreg.predict(X_new)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [45]:
df

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [0]:
# Encoding the categorical features

In [52]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe.fit_transform(df[['Embarked']])

<10x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [53]:
ohe.categories_

[array(['C', 'Q', 'S'], dtype=object)]

In [49]:
df

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [0]:
#fit is when it learns something from the data
#transform is when it uses what it learned, to actually do the transformation
#we could have done first ohe.fit and then ohe.transform but ohe.fit_transform lo hace en un paso los dos que es normalmente lo mejor.

In [54]:
#this command was already execute before but here we are just pointing out that it's important to 
#remember to give the double bracket so that it considers the column 
ohe.fit_transform(df[['Embarked']])

ValueError: ignored

In [59]:
df['Embarked']]

0    S
1    C
2    S
3    S
4    S
5    Q
6    S
7    S
8    S
9    C
Name: Embarked, dtype: object